

<div class="container">

<div class="row">
	 <div class="col-md-10 col-md-offset-4 boxform">
	 	 
			<%= form_for @artist do |f| %> 
			<h2>New Song</h2>
				<h3 class="boxform">Name</h3>
				<%= f.text_field :name, :size => 50, :placeholder => "Enter Name"  %>
				<h3 class="boxform">Biography</h3>
				<%= f.text_field :biography, :size => "59x4", :placeholder => "Write Biography"  %>
				<h3 class="boxform">Image</h3>
				<%= f.file_field :image, :size => 50, :placeholder => "Enter Catalogue Number"  %>
				<h3 class="boxform">Song</h3>
				<%= f.text_field :song, :size => 50, :placeholder => "Enter link from Amazon S3"  %><br><br>
				<%= f.submit %><br><br>
				<%end%>
			</div>
		
 </div>
</div>