<div class="container">
	<div class="row">
		 <div class="header-synch-home col-md-12 col-md-offset-1">
		 	<div>
				<h2 class="artist-name"><%= @artist.name %></h2>
			</div>
			<div class="col-md-4">
				<div class="item artist-image"><%= image_tag @artist.image.url(:med) %>
				</div>
				<div class="artist-player">
			<%= audio_tag @artist.song, :type => "mp3/audio", :controls => true, :autoplay => true %>
			</div>

			</div>

			<div class="col-md-6 artist-bio">
				<div class="artist-biography"><%= @artist.biography %>
				</div>

			</div>
		</div>
	

	</div>
		<div class="col-md-8 col-md-offset-2">
			<% if current_user%>	
		 	<button><%= link_to 'Update', edit_artist_path(@artist) %></button>
		 
		 	<button><%= link_to 'Song List', artists_path %></button>
     		<button><%= link_to 'Destroy', artist_path(@artist),
              method: :delete,
              data: { confirm: 'Are you sure? This cannot be undone!' } %></button>
     		<% end %>
      </div>
</div>
</div>