<div class="container">

<div class="row">
	 <div class="col-md-10 col-md-offset-4 boxform">
				<%= form_for @song, url: {action: "update"}, html: {class:"update-form"} do |s| %>
				<h2>Update Song</h2>
					<h3 class="boxform">Title </h3>
					<%= s.text_field :title, :size => 50, :placeholder => "Enter Title"  %> 
					<h3 class="boxform">Artist </h3><%= s.text_field :artist, :size => 50, :placeholder => "Enter Artist"  %>
					<h3 class="boxform">Catalog </h3><%= s.text_field :catalogue, :size => 50, :placeholder => "Enter Catalogue Number"  %>
					<h3 class="boxform">Writer </h3><%= s.text_field :writer, :size => 50, :placeholder => "Enter Writer"  %>
					<h3 class="boxform">Publisher </h3><%= s.text_field :publisher, :size => 50, :placeholder => "Enter Publisher"  %>
					<h3 class="boxform">Theme </h3><%= s.text_field :theme, :size => 50, :placeholder => "Enter theme, sound a like etc..."  %>
				<h3 class="boxform"><%= s.submit "Create" %></h3><br>
				<%end%>
				<button><%= link_to 'Back To Dashboard', songs_path %></button>
		</div>
 </div>
</div>