<div class="container">
	<div class="row">

		<div class="col-md-12">
			<div class="logout">
			<% if current_user %>
				<%=link_to "Logout", :controller => 'sessions', :action => 'destroy' %>
			<% else %>
			<%=link_to "Log-in", :controller => 'sessions', :action => 'create' %>
			<% end %>
			</div>
		</div>

 			<%= form_tag songs_path, :method => "get" do %>
				<label for="search-by">Search By</label>
					<select name="search_by" id="search-by">
						<option value="title">Title</option>
						<option value="writer">Writer</option>
						<option value="artist">Artist</option>
						<option value="publisher">Publisher</option>
						<option value="theme">Theme</option>
					</select>
			<%= text_field_tag :search, params[:search], class: "form-control"%><br>
			<%= submit_tag "Search", class: "btn btn-primary" %>
	  	<% end %>

			<% if @songs.present? %>
  			<%= render @songs %>
			<% else %>
  		<p>There are no songs containing the term(s) <%= params[:search] %>.</p>
			<% end %>

			<div class="col-md-12">
			<table>
			<tr>
			<th><h5> title </h5></th>
			<th><h5> artist </h5></th>
			<th><h5> writer </h5></th>
			<th><h5> publisher </h5></th>
			<th><h5> theme </h5></th>
			</tr>

			<% @songs.each do |song| %>
			<tr>
			<td><%= song.title %></td>
			<td><%= song.artist %></td>
			<td><%= song.writer %></td>
			<td><%= song.publisher %></td>
			<td><%= song.theme %></td>
			</tr>
			<% end %>
			</table>
			</div><!--end of table div -->
		</div><!--end of div -->
	</div><!--end of row -->
</div><!--end of container -->
