<div class="container">

<div class="row">
	 <div class="col-md-10 col-md-offset-4">
	 	 <div class="new-form">
	 	  <h3>New Song</h3>
			<%= form_for @song, url: {action: "create"}, html: {class:"new-form"} do |s| %>
				<h4>Title</h4>
				<%= s.text_field :title, :size => 30, :placeholder => "Enter Title"  %>
				<h4>Artist</h4>
				<%= s.text_field :artist, :size => 30, :placeholder => "Enter Artist"  %>
				<h4>Catalog</h4><%= s.text_field :catalogue, :size => 30, :placeholder => "Enter Catalogue Number"  %>
				<h4>Writer</h4><%= s.text_field :writer, :size => 30, :placeholder => "Enter Writer"  %>
				<h4>Publisher</h4><%= s.text_field :publisher, :size => 30, :placeholder => "Enter Publisher"  %>
				<h4>Theme</h4><%= s.text_field :theme, :size => 30, :placeholder => "Enter theme, sound a like etc..."  %><br><br>
				<%= s.submit "Create" %>
				<%end%>
			</div>
		</div>
 </div>
</div>